.resizable {
  font-size: calc(1.5vmin + 1.5px);
}

.App {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 1680px;
  margin: 0;
}

.App-header {
  margin: 0;
  width: 100%;
}

.header-content {
  align-items: center;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}

.App-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 100%;
  overflow: hidden;
}

.header-content-left {
  margin: 0 0 0 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.header-content-middle {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-content-buttons-row {
  display: flex;
  justify-content: space-evenly;
}

.header-content-buttons-row > div {
  margin: 0 10px 0 10px;
  cursor: pointer;
  box-shadow: 1px 3px #888888;
  border-radius: 15px;
  padding: 10px;
}

.header-content-buttons-row > a {
  margin: 0 10px 0 10px;
  cursor: pointer;
  box-shadow: 1px 3px #888888;
  border-radius: 15px;
  padding: 10px;
}

a {
  text-decoration: none;
}
.header-content-right {
  display: flex;
  flex-direction: column;
  margin: 0 20px 0 0;
}

.header-content-right-row-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-content-right-row-2 {
  display: flex;
  flex-direction: row;
}

.print-span > p {
  padding: 5px;
  font-size: 20px;
  cursor: pointer;
  background-color: springgreen;
  border-radius: 15px;
}

.misc {
  display: flex;
  justify-content: flex-start;
  margin: 10px 0 0 10px;
  font-style: italic;
}

.shift {
  display: flex;
  flex-direction: row;
}

.shift p {
  margin: 0 0 0 20px;
}

.PBg {
  font-weight: normal;
  color: black;
  background-color: lightgreen;
}

.PBY {
  font-weight: normal;
  color: black;
  background-color: yellow;
}

.PRW {
  font-weight: normal;
  color: red;
  background-color: white;
}

.PBO {
  font-weight: normal;
  color: black;
  background-color: orange;
}

.PBe {
  font-weight: normal;
  color: black;
  background-color: lightblue;
}

.BBp {
  font-weight: bold;
  color: black;
  background-color: #bf4fbfc7;
}

.BEW {
  font-weight: bold;
  color: blue;
  background-color: white;
}

.BBN {
  font-weight: bold;
  color: black;
  background-color: hotpink;
}

.BBW {
  font-weight: bold;
  color: black;
  background-color: white;
}

.BRW {
  font-weight: bold;
  color: red;
  background-color: white;
}

p {
  margin: 0;
}

hr {
  margin: 0;
}

input {
  cursor: pointer;
}

.selected {
  border-bottom: 1px solid black;
}

.hidden {
  display: none;
}

.App-content {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

table {
  overflow: hidden;
  width: 100%;
  height: 800px;
  table-layout: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  /* padding-right: 18px; */
}

thead {
  width: 100%;
  sposition: fixed;
  /* padding-right: 17px; */
}

tbody {
  flex: 1;
  /* position: fixed; */
  width: 100%;
  /* padding-right: 17px; */
  /* box-sizing: content-box; */
}

th {
  cursor: pointer;
}

td,
th {
  padding: 0;
}

tr {
  width: 100%;
  display: flex;
}

tr th {
  flex: 1;
}

tr td {
  flex: 1;
}

td:hover {
  background-color: lightgrey;
}
