.resizable {
  font-size: calc(1.5vmin + 1.5px);
}

.App {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 1680px;
  margin: 0;
}

.App-header {
  margin: 0;
  width: 100%;
}

.header-content {
  align-items: center;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}

.App-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 100%;
  overflow: hidden;
}

.header-content-left {
  margin: 0 0 0 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.header-content-middle {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-content-buttons-row {
  display: flex;
  justify-content: space-evenly;
}

.header-content-buttons-three {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}
.header-content-right {
  display: flex;
  flex-direction: column;
  margin: 0 20px 0 0;
}

.header-content-right-row-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-content-right-row-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 12px;
}

.print-span > p {
  padding: 5px;
  font-size: 20px;
  cursor: pointer;
  background-color: springgreen;
  border-radius: 15px;
}

.shift {
  display: flex;
}

#shiftOne label {
  margin: 0;
}

#shiftTwo label {
  margin: 0;
}

#shiftThree label {
  margin: 0;
}

.shift p {
  margin: 0 0 0 10px;
}

.PBg {
  font-weight: normal;
  color: black;
  background-color: lightgreen;
}

.PBY {
  font-weight: normal;
  color: black;
  background-color: yellow;
}

.BPW {
  font-weight: bold;
  color: purple;
  background-color: white;
}

.PBW {
  font-weight: normal;
  color: black;
  background-color: white;
}

.PRW {
  font-weight: normal;
  color: red;
  background-color: white;
}

.PBO {
  font-weight: normal;
  color: black;
  background-color: orange;
}

.PBe {
  font-weight: normal;
  color: black;
  background-color: lightblue;
}

.BBp {
  font-weight: bold;
  color: black;
  background-color: #bf4fbfc7;
}

.BEW {
  font-weight: bold;
  color: blue;
  background-color: white;
}

.BBN {
  font-weight: bold;
  color: black;
  background-color: hotpink;
}

.BBW {
  font-weight: bold;
  color: black;
  background-color: white;
}

.BRW {
  font-weight: bold;
  color: red;
  background-color: white;
}

p {
  margin: 0;
}

hr {
  margin: 0;
}

input {
  cursor: pointer;
}

.selected {
  border-bottom: 1px solid black;
}

.hidden {
  display: none;
}

.App-content {
  width: 100%;
  height: 100%;
}

table {
  overflow: hidden;
  width: 1680px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

td {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

thead {
  width: 100%;
  padding-right: 17px;
}

tbody {
  width: 100%;
  height: 90vh;
  overflow-y: scroll;
}

th {
  cursor: pointer;
}

tr {
  display: flex;
}

tr th {
  flex: 1;
}

tr td {
  flex: 1;
}

td:hover {
  background-color: lightgrey;
}

#override th {
  padding: 0.015rem;
}

#override td {
  padding: 0.015rem;
}
